In [11]:
#Import libraries and dependencies

import pandas as pd
import os
import csv
from pathlib import Path

In [12]:
#Set the file path

sp500_csvpath = Path("../Data/RawData/SP500_history.csv")

#Read in the CSV as Dataframe

SP500_history_df = pd.read_csv(sp500_csvpath)

SP500_history_df.head()

     Date   Price    Open    High     Low Vol. Change %
0  Feb-95  487.39  470.42  489.19  469.29    -    3.61%
1  Mar-95  500.71  487.39  508.15   479.7    -    2.73%
2  Apr-95  514.71   500.7  515.29   500.2    -    2.80%
3  May-95   533.4  514.76  533.41  513.03    -    3.63%
4  Jun-95  544.75   533.4  551.07     526    -    2.13%

In [13]:
#Filter to get June data only

SP500_history_df = SP500_history_df[SP500_history_df.Date.str.match('Jun-*')]

In [14]:
SP500_history_df.head()

      Date     Price      Open      High       Low Vol. Change %
4   Jun-95    544.75     533.4    551.07       526    -    2.13%
16  Jun-96    670.63    669.12    680.32    658.75    -    0.23%
28  Jun-97    885.14    848.28    902.09    838.82    -    4.35%
40  Jun-98  1,133.84  1,090.82  1,145.15  1,074.67    -    3.94%
52  Jun-99  1,372.71  1,301.84  1,372.93  1,277.47    -    5.44%

In [18]:
#Drop unused columns
SP500_history_df = SP500_history_df.drop(SP500_history_df.columns[2:], axis=1)

In [20]:
SP500_history_df.head()

      Date     Price
4   Jun-95    544.75
16  Jun-96    670.63
28  Jun-97    885.14
40  Jun-98  1,133.84
52  Jun-99  1,372.71

In [21]:
SP500_history_df = SP500_history_df.set_index("Date")

In [22]:
# Write output as csv file
SP500_history_df.to_csv("../Data/ProcessedData/SP500_history_updated.csv")