In [2]:
#Import libraries and dependencies
import pandas as pd
import os
import csv
from pathlib import Path

In [5]:
# #Read in the CSV as Dataframe
GDP_countries_df = pd.read_csv("../Data/ProcessedData/GDP_selected_countries.csv")

GDP_countries_df.head()

In [25]:
#Drop Unnamed column
GDP_countries_df = GDP_countries_df.drop(GDP_countries_df.columns[0], axis=1)

In [26]:
GDP_countries_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0
0,Australia,AUS,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,2.485769,1.296087,6.214630,6.978522,5.983506,...,2.462756,3.918163,2.584898,2.533115,2.192647,2.770652,2.300611,2.949286,2.160956,NaN
1,Canada,CAN,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,3.163292,7.425385,5.349546,6.642894,6.316714,...,3.146881,1.762223,2.329123,2.870036,0.659177,1.001394,3.170730,2.013639,1.656041,NaN
2,China,CHN,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,-27.270000,-5.580000,10.300000,18.180000,16.950000,...,9.550832,7.863736,7.766150,7.425764,7.041329,6.848762,6.947201,6.749774,5.949714,NaN
3,European Union,EUU,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,1.831955,-0.751831,-0.055313,1.572943,2.300603,2.044737,2.789165,2.118240,1.554265,NaN
4,United Kingdom,GBR,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,2.677119,1.102910,4.874384,5.533659,2.142177,...,1.540147,1.478924,2.139486,2.607476,2.355524,1.918155,1.892077,1.340721,1.462658,NaN

In [27]:
#Drop unused columns
GDP_countries_df = GDP_countries_df.drop(GDP_countries_df.columns[1:39], axis=1)

In [28]:
GDP_countries_df.head()

,Country Name,1995.0,1996.0,1997.0,1998.0,1999.0,2000.0,2001.0,2002.0,2003.0,...,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0
0,Australia,3.837755,3.878585,3.966538,4.576689,5.073599,3.933137,1.930858,4.001404,2.985934,...,2.462756,3.918163,2.584898,2.533115,2.192647,2.770652,2.300611,2.949286,2.160956,NaN
1,Canada,2.693976,1.619172,-3.845294,2.796542,3.970483,4.917763,1.405528,3.422146,3.811090,...,3.146881,1.762223,2.329123,2.870036,0.659177,1.001394,3.170730,2.013639,1.656041,NaN
2,China,10.953954,9.922557,9.236780,7.845952,7.661651,8.490093,8.335733,9.133631,10.038030,...,9.550832,7.863736,7.766150,7.425764,7.041329,6.848762,6.947201,6.749774,5.949714,NaN
3,European Union,2.673208,1.892917,2.664015,3.018681,2.958700,3.903212,2.184364,1.123943,0.930533,...,1.831955,-0.751831,-0.055313,1.572943,2.300603,2.044737,2.789165,2.118240,1.554265,NaN
4,United Kingdom,2.531670,2.491533,3.854830,3.644853,3.428223,3.437472,2.974364,2.324351,3.286378,...,1.540147,1.478924,2.139486,2.607476,2.355524,1.918155,1.892077,1.340721,1.462658,NaN

In [29]:
#Edit columns name to get the right format
GDP_countries_df.columns

columns = ['Year', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014', '2015', '2016', '2017', '2018', '2019',
       '2020']

GDP_countries_df.columns = columns

In [30]:
GDP_countries_df.head()

,Year,1995,1996,1997,1998,1999,2000,2001,2002,2003,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Australia,3.837755,3.878585,3.966538,4.576689,5.073599,3.933137,1.930858,4.001404,2.985934,...,2.462756,3.918163,2.584898,2.533115,2.192647,2.770652,2.300611,2.949286,2.160956,NaN
1,Canada,2.693976,1.619172,-3.845294,2.796542,3.970483,4.917763,1.405528,3.422146,3.811090,...,3.146881,1.762223,2.329123,2.870036,0.659177,1.001394,3.170730,2.013639,1.656041,NaN
2,China,10.953954,9.922557,9.236780,7.845952,7.661651,8.490093,8.335733,9.133631,10.038030,...,9.550832,7.863736,7.766150,7.425764,7.041329,6.848762,6.947201,6.749774,5.949714,NaN
3,European Union,2.673208,1.892917,2.664015,3.018681,2.958700,3.903212,2.184364,1.123943,0.930533,...,1.831955,-0.751831,-0.055313,1.572943,2.300603,2.044737,2.789165,2.118240,1.554265,NaN
4,United Kingdom,2.531670,2.491533,3.854830,3.644853,3.428223,3.437472,2.974364,2.324351,3.286378,...,1.540147,1.478924,2.139486,2.607476,2.355524,1.918155,1.892077,1.340721,1.462658,NaN

In [31]:
#Transpose data
GDP_countries_df = GDP_countries_df.T

In [32]:
GDP_countries_df.head()

,0,1,2,3,4,5,6,7
Year,Australia,Canada,China,European Union,United Kingdom,India,"Korea, Rep.",United States
1995,3.83776,2.69398,10.954,2.67321,2.53167,7.57449,9.61457,2.68429
1996,3.87859,1.61917,9.92256,1.89292,2.49153,7.54952,7.8907,3.7725
1997,3.96654,-3.84529,9.23678,2.66402,3.85483,4.04982,6.17055,4.44722
1998,4.57669,2.79654,7.84595,3.01868,3.64485,6.18442,-5.12945,4.48141

In [33]:
# Format for countries as headers
GDP_countries_df.columns = GDP_countries_df.iloc[0]
GDP_countries_df = GDP_countries_df[1:]

In [34]:
GDP_countries_df

Year,Australia,Canada,China,European Union,United Kingdom,India,"Korea, Rep.",United States
1995,3.83776,2.69398,10.954,2.67321,2.53167,7.57449,9.61457,2.68429
1996,3.87859,1.61917,9.92256,1.89292,2.49153,7.54952,7.8907,3.7725
1997,3.96654,-3.84529,9.23678,2.66402,3.85483,4.04982,6.17055,4.44722
1998,4.57669,2.79654,7.84595,3.01868,3.64485,6.18442,-5.12945,4.48141
1999,5.0736,3.97048,7.66165,2.9587,3.42822,8.84576,11.4669,4.75324
2000,3.93314,4.91776,8.49009,3.90321,3.43747,3.84099,9.06083,4.12748
2001,1.93086,1.40553,8.33573,2.18436,2.97436,4.82397,4.8524,0.998341
2002,4.0014,3.42215,9.13363,1.12394,2.32435,3.80398,7.72514,1.7417
2003,2.98593,3.81109,10.038,0.930533,3.28638,7.86038,3.14729,2.86121
2004,4.05545,3.91403,10.1136,2.59495,2.37395,7.92294,5.19739,3.79889
2005,3.20427,4.99586,11.3946,1.93404,3.17973,7.92343,4.30854,3.51321
2006,2.79454,4.16582,12.721,3.49428,2.78832,8.06073,5.26433,2.85497
2007,3.84423,6.86861,14.2309,3.15247,2.43055,7.66082,5.79955,1.87617
2008,3.65795,1.00762,9.65068,0.644918,-0.281154,3.0867,3.01298,-0.13658
2009,1.93699,-2.9284,9.39873,-4.32583,-4.24782,7.86189,0.792699,-2.53676
2010,2.06742,3.08949,10.6359,2.20973,1.94952,8.49758,6.80482,2.56377
2011,2.46276,3.14688,9.55083,1.83195,1.54015,5.24134,3.68567,1.55084
2012,3.91816,1.76222,7.86374,-0.751831,1.47892,5.45636,2.40253,2.24955
2013,2.5849,2.32912,7.76615,-0.0553134,2.13949,6.38611,3.16471,1.84208
2014,2.53311,2.87004,7.42576,1.57294,2.60748,7.41023,3.20245,2.52597
2015,2.19265,0.659177,7.04133,2.3006,2.35552,7.99625,2.8091,2.90802
2016,2.77065,1.00139,6.84876,2.04474,1.91816,8.25631,2.94688,1.63784
2017,2.30061,3.17073,6.9472,2.78917,1.89208,7.04382,3.15964,2.3698
2018,2.94929,2.01364,6.74977,2.11824,1.34072,6.11959,2.9074,2.92733
2019,2.16096,1.65604,5.94971,1.55426,1.46266,4.18073,2.03935,2.16118
2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
#Remove 2020 N/A values
GDP_countries_df.drop(GDP_countries_df.tail(1).index,inplace=True)

In [36]:
GDP_countries_df

Year,Australia,Canada,China,European Union,United Kingdom,India,"Korea, Rep.",United States
1995,3.83776,2.69398,10.954,2.67321,2.53167,7.57449,9.61457,2.68429
1996,3.87859,1.61917,9.92256,1.89292,2.49153,7.54952,7.8907,3.7725
1997,3.96654,-3.84529,9.23678,2.66402,3.85483,4.04982,6.17055,4.44722
1998,4.57669,2.79654,7.84595,3.01868,3.64485,6.18442,-5.12945,4.48141
1999,5.0736,3.97048,7.66165,2.9587,3.42822,8.84576,11.4669,4.75324
2000,3.93314,4.91776,8.49009,3.90321,3.43747,3.84099,9.06083,4.12748
2001,1.93086,1.40553,8.33573,2.18436,2.97436,4.82397,4.8524,0.998341
2002,4.0014,3.42215,9.13363,1.12394,2.32435,3.80398,7.72514,1.7417
2003,2.98593,3.81109,10.038,0.930533,3.28638,7.86038,3.14729,2.86121
2004,4.05545,3.91403,10.1136,2.59495,2.37395,7.92294,5.19739,3.79889
2005,3.20427,4.99586,11.3946,1.93404,3.17973,7.92343,4.30854,3.51321
2006,2.79454,4.16582,12.721,3.49428,2.78832,8.06073,5.26433,2.85497
2007,3.84423,6.86861,14.2309,3.15247,2.43055,7.66082,5.79955,1.87617
2008,3.65795,1.00762,9.65068,0.644918,-0.281154,3.0867,3.01298,-0.13658
2009,1.93699,-2.9284,9.39873,-4.32583,-4.24782,7.86189,0.792699,-2.53676
2010,2.06742,3.08949,10.6359,2.20973,1.94952,8.49758,6.80482,2.56377
2011,2.46276,3.14688,9.55083,1.83195,1.54015,5.24134,3.68567,1.55084
2012,3.91816,1.76222,7.86374,-0.751831,1.47892,5.45636,2.40253,2.24955
2013,2.5849,2.32912,7.76615,-0.0553134,2.13949,6.38611,3.16471,1.84208
2014,2.53311,2.87004,7.42576,1.57294,2.60748,7.41023,3.20245,2.52597
2015,2.19265,0.659177,7.04133,2.3006,2.35552,7.99625,2.8091,2.90802
2016,2.77065,1.00139,6.84876,2.04474,1.91816,8.25631,2.94688,1.63784
2017,2.30061,3.17073,6.9472,2.78917,1.89208,7.04382,3.15964,2.3698
2018,2.94929,2.01364,6.74977,2.11824,1.34072,6.11959,2.9074,2.92733
2019,2.16096,1.65604,5.94971,1.55426,1.46266,4.18073,2.03935,2.16118

In [37]:
#Add 2020 values for countries
GDP_countries_df.loc[2020] = [-0.284839297785609,-5.40279855256868,2.29999999998371,-6.1,-9.79024036173693,-7.9646104111382,-0.957766223525297,-3.4861395571143]

In [38]:
GDP_countries_df

Year,Australia,Canada,China,European Union,United Kingdom,India,"Korea, Rep.",United States
1995,3.83776,2.69398,10.954,2.67321,2.53167,7.57449,9.61457,2.68429
1996,3.87859,1.61917,9.92256,1.89292,2.49153,7.54952,7.8907,3.7725
1997,3.96654,-3.84529,9.23678,2.66402,3.85483,4.04982,6.17055,4.44722
1998,4.57669,2.79654,7.84595,3.01868,3.64485,6.18442,-5.12945,4.48141
1999,5.0736,3.97048,7.66165,2.9587,3.42822,8.84576,11.4669,4.75324
2000,3.93314,4.91776,8.49009,3.90321,3.43747,3.84099,9.06083,4.12748
2001,1.93086,1.40553,8.33573,2.18436,2.97436,4.82397,4.8524,0.998341
2002,4.0014,3.42215,9.13363,1.12394,2.32435,3.80398,7.72514,1.7417
2003,2.98593,3.81109,10.038,0.930533,3.28638,7.86038,3.14729,2.86121
2004,4.05545,3.91403,10.1136,2.59495,2.37395,7.92294,5.19739,3.79889
2005,3.20427,4.99586,11.3946,1.93404,3.17973,7.92343,4.30854,3.51321
2006,2.79454,4.16582,12.721,3.49428,2.78832,8.06073,5.26433,2.85497
2007,3.84423,6.86861,14.2309,3.15247,2.43055,7.66082,5.79955,1.87617
2008,3.65795,1.00762,9.65068,0.644918,-0.281154,3.0867,3.01298,-0.13658
2009,1.93699,-2.9284,9.39873,-4.32583,-4.24782,7.86189,0.792699,-2.53676
2010,2.06742,3.08949,10.6359,2.20973,1.94952,8.49758,6.80482,2.56377
2011,2.46276,3.14688,9.55083,1.83195,1.54015,5.24134,3.68567,1.55084
2012,3.91816,1.76222,7.86374,-0.751831,1.47892,5.45636,2.40253,2.24955
2013,2.5849,2.32912,7.76615,-0.0553134,2.13949,6.38611,3.16471,1.84208
2014,2.53311,2.87004,7.42576,1.57294,2.60748,7.41023,3.20245,2.52597
2015,2.19265,0.659177,7.04133,2.3006,2.35552,7.99625,2.8091,2.90802
2016,2.77065,1.00139,6.84876,2.04474,1.91816,8.25631,2.94688,1.63784
2017,2.30061,3.17073,6.9472,2.78917,1.89208,7.04382,3.15964,2.3698
2018,2.94929,2.01364,6.74977,2.11824,1.34072,6.11959,2.9074,2.92733
2019,2.16096,1.65604,5.94971,1.55426,1.46266,4.18073,2.03935,2.16118
2020,-0.284839,-5.4028,2.3,-6.1,-9.79024,-7.96461,-0.957766,-3.48614

In [22]:
# Write output as csv file
GDP_countries_df.to_csv("../Data/ProcessedData/GDP_selected_countries_updated.csv")